<h1 align="middle"> Contact me here! </h1>

<h4 align="middle">
  <i class="fas fa-phone"></i> 
  843-259-6733 
</h4>

<h4 align="middle">
  <i class="fas fa-at"></i>
  shanaslavin@gmail.com
</h4>

<h1 align="middle"> Other links </h1>

<h4 align="middle">
  <a href="https://github.com/shanaslavin/" target="_blank" class="fab fa-github fa-2x"></a>
  <a href="https://www.linkedin.com/in/shana-slavin-bb95a4a6" target="_blank" class="fab fa-linkedin fa-2x"></a>
</h4>