<div class="container center">
  <h2> Notable Projects </h2>

  <div class="row">
    <div class="col offset-m2 s12 m8">
      <div class="card-panel  blue darken-4">
        <span class="white-text"><h4>GeoPets</h4>
        <p>This project was created during the Trace Lab coding bootcamp.</p>
        <p>If you ever come across a stray animal and it is skittish, they won't allow you to 
        come near them, making returning them to where they belong harder. With this app, you can take a picture
        of the animal and the app will tag the location you are at and place it on a map for others to see and
        hopefully find their beloved comapnion.</p>
        <p>This app uses Gooogle's Geolocation API to identify the user's location.</p>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col offset-m2 s12 m8">
      <div class="card-panel  blue darken-4">
        <span class="white-text"><h4>Wi-fi Enabled Feminine Hygiene Dispensers</h4>
        <p>This project was created for Clemson's hackathon, CUHackit.</p>
        <p>
          Clemson's female bathrooms do not have feminine hygeine dispensers within them. This can make a woman
          feel uncomfortable when they need one and must exit the bathroom in order to buy one. This product allows
          women to buy feminine products in-person within the bathroom and order them ahead of time through the website.
        </p>
        <p>This product won Best Hardware from CUHackit</p>
        <p>This project is currently in production at Clemson as a Creative Inquary</p>
        </span>
      </div>
    </div>
  </div>
</div>